@font-face {
    font-family: 'Roboto Thin';
    src: url('font/Roboto-Thin.ttf');
}

.fundo-acessar {
    background-image: url('img/acessar.jpg');
    background-size:100%;
    height: 439px;
    width: 600px;
}

.fundo-login {
    background: url('img/login.jpg');
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.top-right {
    position: absolute;
    top: 10px;
    right: 30px;
}

.new-top-right {
    position: absolute;
    top: 100px;
    right: 100px;
}

.roboto {
    font-family: 'Roboto Thin';
    color: midnightblue;
    font-size: 50pt;
}

.arruma {
    width: 350px;
    margin: auto;
    margin-top: 210px;
    text-align: center;
}

.salvar{
    position: absolute;
    right: 60px;
}

.scroll {
    overflow: scroll;
}

.padding16 {
    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
}

.table-padding {
    padding-top: 16px;
    margin-right: 16px;
    padding-left: 16px;
}

.table-padding-corpo {
    margin-right: 16px;
    padding-left: 16px;
}

.aui-group > .aui-item {
    display: table-cell;
    vertical-align: top;
    width: 640px;
}

.barra-vertical {
    border-left: 1px solid #ddd;
    padding: 16px;
    padding-bottom: 0;
}

.nullbank {
    font-family:'roboto thin';
    text-align: left;
    color: #FCF8F8;
}

.column-width {
    width: 500px;
}

.margin-top16 {
    margin-top: 16px;
}

.margin-bottom16 {
    margin-bottom: 16px;
}

.center {
    text-align: center;
    padding-bottom: 16px;
}

.background-div-form {
    background-color: rgba(255, 255, 255, 0.5)
}

.nullbank2{
    font-family:'roboto thin';
    text-align: center;
    color: #0B81CF;
    border-top: 1px solid #0B81CF;
    border-bottom: 1px solid #0B81CF;
    padding: 8px;
    font-size: 25pt;
}

.barra-horizontal {
    border-top: 3px solid #ddd;
    padding: 16px;
}

.bottom2{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.degrade {
    /*background-image: linear-gradient(45deg, #001173, #0B81CF);*/
    background-color: #001173;
    padding-left: 16px;
}

.desconectar {
    margin: 12px;
    margin-left: 560px;
}